.question-table {
  margin: 3%;
  min-height: 70vh;
}
.published-button {
  background-color: #35c335;
  border-radius: 5px;
  border-color: transparent;
}

.draft-button {
  background-color: rgb(108, 111, 108);
  border-radius: 5px;
  border-color: transparent;
}

.action-btn {
  background-color: transparent;
  border-color: transparent;
}

